.body{
    margin: 0;
    padding: 0;
    background-color: #333;
}
.contenedor{
    width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
.galeria__columna{
    margin: 5px;
    filter: grayscale(100%);
}
.galeria__columna:hover{
    filter: grayscale(0);
}
.galeria .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}